.header{
    display: flex;
    
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}
.header:hover{
    border: 1px solid black;
}

.logo img{
    width: 80%;
    cursor: pointer;
}
.menu ul{
    display: flex;
    list-style: none;
}
.menu ul li{
    padding: 8px;
}
.menu ul li:hover{
    cursor: pointer;
    font-weight: 700;
}
.body{
    margin-top: 10px;
    padding: 2px ;
}
.card{
    margin-top: 4px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 240px;
    height: 280px;
    padding: 5px;
   
}
.card:hover{
        border: 1px solid black;
        background: rgb(252, 220, 181)
        

    }

.card img{
    width: 200px;
}

.res-card{
    display: flex;
    flex-wrap: wrap;
    /* margin: 10px; */
    padding: 10px;
}